@charset "UTF-8";

body {
    background-color:  #9e5b5b57;
    font-family: Arial, sans-serif;
}

div#interface{
    width: 210px; /* largura do box */
    height: 310px; /* altura do box */
    border: 1px solid rgb(172, 172, 172);
    padding: 5px 5px; /* padding à esquerda e à direita */ 
    border-radius: 5px; /* arredontar borda*/
    position: absolute; 
    box-sizing: border-box;
    background-color: #554b4f;
    text-align: center;
}

table#button{
    margin-left: auto;
    margin-right: auto;
}


h1 {
    font-size: 25px;
    text-align: center; 
    height: 20px;
    position: relative; 
    color: #ffffff;
}

input { 
    border: 1px solid rgb(172, 172, 172);
    border-radius: 5px;
    height: 40px; /* altura do box */
    width: 190px;
    padding: 3px;
    text-align: right;
    font-size: 30px;
    position: relative; 
}


.bt {
    text-align: center;
    border-radius: 5px; /* arredontar borda*/
    width: 45px; /* largura */
    height: 30px; /* altura*/
    cursor: pointer;
    border: none;
    padding: 5px;
    position: relative; 
}

.bt:hover {
    opacity:0.5;
}

.bt.op{
    background-color: #bdbdbd;
}

.bt:click {
    border: 1px solid;
    border-radius: 5px;
}

.bt.num{
    background-color: #dbdbdb;
}

.bt.igual{
    background-color: #6461f3;
}

